/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
:root{
    --fuenteJersey25: 'Jersey 25', sans-serif;
    --fuenteSixtyFour: 'Sixtyfour', sans-serif;
    --fuenteScienceGothic:'Science Gothic', sans-serief;
    --violeta_oscuro: #9201CB;
    --violeta_clarito: #a53bcf;
    --celeste_clarito: #7cdadd;
}
body{
    background: linear-gradient(1000deg, #0f0026, #1f0033, #000814);
    text-align: center;
}
