.titulo_pagina{
    color:var(--violeta_oscuro);
    font-family: var(--fuenteSixtyFour);
    font-size: 3rem;
}
.palabra{
    color: var(--violeta_oscuro);
    font-family: var(--fuenteJersey25);
    font-size: 4rem;
}
.letra{
    min-width: 1rem;
    text-align: center;
}
.letraAbecedario{
    font-family: var(--fuenteJersey25);
    font-size: 2rem;
}
.mensajeEstado{
    font-family: var(--fuenteSixtyFour);
    font-size: 4rem;
}

.mensajePerder{
    color:red;
}

.mensajeGanar{
    color:green;
}

.botonesJuegoTerminado{
    background-color: var(--celeste_clarito);
    color: white;
    font-size: 2rem;
    font-family: var(--fuenteScienceGothic);
}

.chat-fijo{

    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 320px;
    z-index: 1000;
}

.botonAbrirChat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    background-color: #0d6efd;
    color: white;
    z-index: 1000;
}
