<h1 class="titulo_pagina ">Adivina la palabra!</h1>
<h2>Puntuacion: {{puntuacionServicio.puntuacion()}}</h2>
<div class="palabra d-flex justify-content-center gap-3  mt-5">   
    @for (letra of palabraVisible; track $index) {
        
        <div>
            <p class="letra m-0">{{letra}}</p>
        </div>
    }
    
    
</div>
<img class="mt-5" src="{{vidasJugador}}" alt="">
<div class="mensajeEstado mt-5">
    <p class="{{colorEstado}}">{{estadoJuegoMensaje}}</p>
</div>
<div>

    @for (letra of abecedario; track $index) {
    
        <button [disabled]="juegoTerminado ||letrasPresionadas().includes(letra)" class="letraAbecedario mt-5 ms-3 btn btn-primary" (click)="seleccionarLetra(letra)">{{letra}}</button>
    }
</div>
<button [hidden]="!juegoTerminado" class="botonesJuegoTerminado btn mt-5 me-5" (click)="reiniciarJuego()">Volver a jugar</button>
<button [hidden]="!juegoTerminado" class="botonesJuegoTerminado btn mt-5 ms-5" routerLink="/bienvenida">Ir al menu</button>