.navbar{
    background-color: #070F34;
}
.titulo{
    font-family: var(--fuenteJersey25);
    color: var(--violeta_oscuro);
    font-size: 2rem;
}
.titulo:hover{
    cursor:pointer
}

.iniciar_sesion_link{
    color: var(--violeta_oscuro);
}

.iniciar_sesion_link:hover{
    cursor:pointer
}

.btn{
    background-color: #153c6a;
    font-family: var(--fuenteJersey25);
    font-size: 1.4rem;
    color: var(--violeta_clarito);
}
.nombreUsuario{
    color: #7cddbd;
    font-family: var(--fuenteJersey25);
    font-size: 1.5rem;
}