.navbar{
    background-color: #070F34;
}
.titulo{
    font-family: 'Jersey 25', sans-serif;
    color: #9201CB;
    font-size: 2rem;
}
.titulo:hover{
    cursor:pointer
}

.btn{
    background-color: #153c6a;
    font-family: var(--fuente);
    font-size: 1.2rem;
    color: #8000b3;
}