<nav class="navbar navbar-expand-lg d-flex align-items-center">
    <img class="img ms-4 mb-0 " src="../../../../favicon.ico" routerLink="bienvenida">
    <p class="titulo mx-4 mb-0">Hoshi's Arcade</p>
    @if (router.url !== '/' && router.url !== '/registro' ) {

        @if(!inicioSesion()){
            <button class="iniciar_sesion_link btn ms-3" routerLink="/login" (click)="iniciarSesion()">Iniciar sesión</button>

        }@else {
                <button class="iniciar_sesion_link btn ms-3" routerLink="/login" (click)="cerrarSesion()">Cerrar sesión</button>
                <p class="nombreUsuario mb-0 ms-2">Hola, {{nombreSesionActual()}}!</p>

            }
        <div class="ms-auto me-4">
            <div>
                <button class="btn" routerLink="/bienvenida">Bienvenida</button>
                <button class="btn mx-4" routerLink="/quien-soy">Quien soy</button>
                <button class="btn" routerLink="/resultados">Resultados</button>
            </div>
    
        </div>
    }
</nav>