<nav class="navbar navbar-expand-lg d-flex align-items-center">
    <p class="titulo mx-4 mb-0" routerLink="/login">Hoshi's Arcade</p>
    @if (router.url !== '/login' && router.url !== '/registro' ) {

        @if(!inicioSesion()){
            <button class="iniciar_sesion_link btn ms-3" routerLink="/login" (click)="iniciarSesion()">Iniciar sesión</button>

        }@else {
                <button class="iniciar_sesion_link btn ms-3" routerLink="/login" (click)="cerrarSesion()">Cerrar sesión</button>
                <p class="nombreUsuario mb-0 ms-2">Hola, {{nombreSesionActual()}}!</p>

            }
        <div class="ms-auto me-4">
            <div>
                <button class="btn" routerLink="/bienvenida">Bienvenida</button>
                <button class="btn mx-4 " routerLink="/quien-soy">Quien soy</button>
            </div>
    
        </div>
    }
</nav>