.contenedor{
    background-color: var(--celeste_clarito);
}

.titulo-registro{
    font-family: var(--fuente);
    color: black;
    font-size: 2rem;
}

.labels-registro{
    font-family: var(--fuente);
    color: black;
    font-size: 1.5rem;
}
.btn{
    font-family: var(--fuente);
    font-size: 1.3rem;
}