.contenedor{
    background-color: var(--celeste_clarito);
}

.titulo-registro{
    font-family: var(--fuenteJersey25);
    color: black;
    font-size: 2rem;
}

.labels-registro{
    font-family: var(--fuenteJersey25);
    color: black;
    font-size: 1.5rem;
}
.btn{
    font-family: var(--fuenteJersey25);
    font-size: 1.3rem;
}
.textoError{
    color: red;
    font-weight: bold;
}

.text-danger{
    font-size: 1.1rem;
}