<div class="contenedor-tablas d-flex mt-5">

    <!-- WORDLE -->
    <div class="tabla">
        <p class="titulo">Puntajes <br> Wordle</p>

        <div class="scroll">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
            </thead>

            <tbody>
            @for (jugador of resultados.puntajesWordle(); track $index) {
                <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.puntaje }}</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>

    <!-- AHORCADO -->
    <div class="tabla">
        <p class="titulo">Puntajes Ahorcado</p>

        <div class="scroll">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
            </thead>

            <tbody>
            @for (jugador of resultados.puntajesAhorcado(); track $index) {
                <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.puntaje }}</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>

    <!-- PREGUNTADOS -->
    <div class="tabla">
        <p class="titulo">Puntajes Preguntados</p>

        <div class="scroll">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
            </thead>

            <tbody>
            @for (jugador of resultados.puntajesPreguntados(); track $index) {
                <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.puntaje }}</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>

    <!-- MAYOR O MENOR -->
    <div class="tabla">
        <p class="titulo">Puntajes Mayor o Menor</p>

        <div class="scroll">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
            </thead>

            <tbody>
            @for (jugador of resultados.puntajesMayorOMenor(); track $index) {
                <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.puntaje }}</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>

</div>