<div class="modal fade" id="modalAviso" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                {{ mensajeLogin }}
                
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>

        </div>
    </div>
</div>

<h1 class="titulo mt-5">Bienvenido a Hoshi's Arcade!!</h1>
<div class="row justify-content-center">

    <div class="contenedor col-lg-4 p-4 rounded-5" >

        <form class="text-center" [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">

            <p class="titulo-sesion">Inicie sesión</p>
            <label class="labels-sesion form-label">Correo</label>
            <input class="form-control mb-3"
                    type="email"
                    placeholder="Ingrese su correo"
                    required email
                    formControlName="correo">
                    @if (correo?.hasError('email')) {
                        <small class="text-danger">Formato invalido</small>
                        <br>
                    }
                    @if (correo?.hasError('required') && correo?.touched) {
                        <small class="text-danger">Campo obligatorio</small>
                        <br>
                    }

            <label class="labels-sesion form-label">Contraseña</label>
            <input class="form-control mb-3"
                    type="text"
                    placeholder="Ingrese su contraseña"
                    required
                    name="contrasenia"
                    formControlName="clave">
                    @if (clave?.hasError('minlength')) {
                        <small class="text-danger">La contraseña debe tener minimo 4 caracteres</small>
                        <br>
                    }
                    @if (clave?.hasError('required') && clave?.touched) {
                        <small class="text-danger">Campo obligatorio</small>
                        <br>
                    }

            <button class="btn btn-primary w-100 mb-3" type="submit">Iniciar Sesión</button>
            <button class="btn btn-primary w-100 mb-3" (click)="inicioRapido1()" >Iniciar sesion rapido</button>
            <button class="btn btn-primary w-100 mb-3" (click)="inicioRapido2()" >Iniciar sesion rapido 2</button>
            <button class="btn btn-primary w-100 mb-3" (click)="inicioRapido3()" >Iniciar sesion rapido 3</button>
            <label class="labels-sesion">Aún no tenes cuenta?</label>
        </form>
        <button class="btn btn-outline-primary w-100 mt-2" (click)="registrarse()" >Registrarse</button>
    </div>
</div>
