
.titulo_pagina{
    color:var(--violeta_oscuro);
    font-family: var(--fuenteSixtyFour);
    font-size: 4rem;
}

.subtitulo_pagina{
    color:var(--violeta_oscuro);
    font-family: var(--fuenteJersey25);
    font-size: 2.5rem;
}


.contenedor{
    background-color: var(--celeste_clarito) ;
}

.titulo{
    color:black;
    font-family: var(--fuenteJersey25);
    font-size: 2rem;
}

.descripcion{
    color: black;
    font-family: var(--fuenteJersey25);
    font-size: 1.4rem;
}
.btn{
    font-family: var(--fuenteScienceGothic);
    font-size: 1.5rem;
}